header{
    background-color: yellow;
    color: black;
}
body{
    background-color: blue;
    color: white;
}
footer{
    background-color: red;
    color: white;
}
#a1{
    background-color: rgb(0,0,0);
} 
#a2{
    background-color: rgb(128,0,0);
} 
#a3{
    background-color: rgb(255,0,0);
} 
#a4{
    background-color: rgb(0,128,0);
} 
#b1{
    background-color: rgb(0,255,0);
} 
#b2{
    background-color: rgb(0,0,128);
} 
#b3{
    background-color: rgb(0,0,255);
} 
#b4{
    background-color: rgb(128,128,0);
} 
#c1{
    background-color: rgb(128,255,0);
} 
#c2{
    background-color: rgb(128,128,128);
} 
#c3{
    background-color: rgb(255,128,0);
} 
#c4{
    background-color: rgb(255,128,128);
} 
#d1{
    background-color: rgb(255,255,0);
} 
#d2{
    background-color: rgb(255,255,128);
} 
#d3{
    background-color: rgb(0,255,255);
} 
#d4{
    background-color: rgb(0,255,128);
} 